Django==4.0.1
South==1.0.2
amqplib==1.0.2
anyjson==0.3.3
billiard==3.6.4.0
celery==5.2.3
dj-database-url==0.5.0
django-celery==3.3.1
django-registration==3.2
gunicorn==20.1.0
kombu==5.2.3
psycopg2==2.9.3
python-dateutil==2.8.2
wsgiref==0.1.2
