{% include "header.html" %}
    <div id="main">
        {% if user_data %}
            {% for user in user_data %}
                <p>
                    <label for="fullname"> Full Name: {{user.fullname}} </label>
                </p>
                {% if {{user.twitter}} %}
                    <p>
                        <label for="twitter"> Twitter: <a href="http://twitter.com/{{user.twitter}}">{{user.twitter}}</a></label>
                    </p>
                {% endif %}
                    <p>
                        <label for="github"> Github: <a href="http://github.com/{{user.github}}">{{user.github}}</a></label>
                    </p>
                {% if {{user.facebook}} %}
                    <p>
                        <label for="facebook"> Facebook: <a href="http://facebook.com/{{user.facebook}}">{{user.facebook}}</a></label>
                    </p>
                {% endif %}
                {% if {{user.geeklist}} %}
                    <p>
                        <label for="geeklist"> Geeklist: <a href="http://geekli.st/{{user.geeklist}}">{{user.geeklist}}</a></label>
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% include "footer.html" %}
